<div>
  <div id="controls">
    <input type="radio" name="viewType" value="latest" ng-model="options.viewType">Latest</input>
    <input type="radio" name="viewType" value="highest" ng-model="options.viewType">Worst</input>
    <select multiple ng-model="options.contaminant">
      <option ng-repeat="contaminant in lists.contaminants" value="{{contaminant.value}}">{{contaminant.name}}</option>
    </select>
    <select multiple ng-model="options.locationZone" type="multiple">
      <option ng-repeat="location in lists.locations" value="{{location.value}}">{{location.name}}</option>
    </select>
    <button ng-click="apply()">Apply</button>
  </div>
  <div id="report">
    <table>
      <tr>
        <th colspan="2">Details</th>
      </tr>
      <tr>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div id="map"></div>
  <div id="timeline"></div>
</div>
